<module id="xml" includes="jse" type="standard" package="org.restlet.ext.xml">
	<name>Restlet Extension - XML</name>
	<description>
		Support for the XML documents.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>