<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="root" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
			<map>
				<entry key="/users/{username}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="userResource" />
					</bean>
				</entry>
				<entry key="/users/{username}/bookmarks">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bookmarksResource" />
					</bean>
				</entry>
				<entry key="/users/{username}/bookmarks/{URI}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bookmarkResource" />
					</bean>
				</entry>
			</map>
		</property>
		<property name="routes[2].template.variables[URI]">
			<bean class="org.restlet.util.Variable">
				<constructor-arg
					ref="org.restlet.util.Variable.TYPE_URI_ALL" />
			</bean>
		</property>
	</bean>

	<bean id="org.restlet.util.Variable.TYPE_URI_ALL"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean" />

	<bean id="userResource"
		class="org.restlet.example.spring.book.rest.ch7.UserResource"
		scope="prototype">
		<property name="container" ref="db4oContainer" />
	</bean>

	<bean name="bookmarkResource"
		class="org.restlet.example.spring.book.rest.ch7.BookmarkResource"
		scope="prototype">
		<property name="container" ref="db4oContainer" />
	</bean>

	<bean name="bookmarksResource"
		class="org.restlet.example.spring.book.rest.ch7.BookmarksResource"
		scope="prototype">
		<property name="container" ref="db4oContainer" />
	</bean>

	<bean id="db4oContainer"
		class="org.springmodules.db4o.ObjectContainerFactoryBean">
		<property name="configuration" ref="db4oConfiguration" />
		<property name="databaseFile"
			value="file://${user.home}/restbook.dbo" />
	</bean>

	<bean id="db4oConfiguration"
		class="org.springmodules.db4o.ConfigurationFactoryBean">
		<property name="updateDepth" value="2" />
		<property name="configurationCreationMode" value="NEW" />
	</bean>

</beans>
