<module id="grizzly" type="connector">
	<name>Restlet Extension - Grizzly</name>
	<description>
		Integration with Grizzly NIO framework.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>grizzly</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>