<module id="rome" includes="jse" type="integration" package="org.restlet.ext.rome">
   <label>Restlet Extension - ROME</label>
   <description>
      Support for syndicated representations via the ROME library.
	</description>

   <dependencies>
      <dependency type="module" id="core" />
   </dependencies>
</module>