<module id="freemarker" type="integration">
	<name>Restlet Extension - FreeMarker</name>
	<description>
		Integration with FreeMarker.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>freemarker</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>