<module id="freemarker" includes="jse" type="integration" package="org.restlet.ext.freemarker">
   <name>Restlet Extension - FreeMarker</name>
   <description>
      Integration with FreeMarker.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="freemarker" />
      <dependency type="module" id="core" />
   </dependencies>
</module>