<module excludes="android, gwt" id="wadl" type="standard" package="org.restlet.ext.wadl">
   <label>Restlet Extension - WADL</label>
   <description>
      Support for the WADL specification.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="module" id="core" />
      <dependency type="module" id="xml" />
   </dependencies>
</module>