<module id="shell" includes="jse" type="integration" package="org.restlet.ext.shell">
   <name>Interactive shell for Restlet.</name>
   <description>
      Restlet Extension - Shell
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="cli" />
      <dependency type="library" id="jline" />
      <dependency type="library" id="rhino" />
      <dependency type="module" id="core" />
   </dependencies>
</module>