/incubator/org.restlet.ext.guice/bin
/incubator/org.restlet.ext.swagger/bin
/incubator/org.restlet.ext.webdav/bin
/incubator/org.restlet.sandbox/bin
/modules/org.restlet/bin
/modules/org.restlet/target
/modules/org.restlet.example/bin
/modules/org.restlet.example.book.restlet.ch08.gae/bin
/modules/org.restlet.example.book.restlet.ch08.gae/war/WEB-INF/classes
/modules/org.restlet.example.book.restlet.ch08.gae/war/WEB-INF/lib
/modules/org.restlet.example.book.restlet.ch08.odata/bin
/modules/org.restlet.example.book.restlet.ch08.odata/lib
/modules/org.restlet.example.book.restlet.ch09.android/bin
/modules/org.restlet.example.book.restlet.ch09.android/libs
/modules/org.restlet.example.book.restlet.ch09.android/bin
/modules/org.restlet.example.book.restlet.ch09.gwt/bin
/modules/org.restlet.example.book.restlet.ch09.gwt/gwt-gen
/modules/org.restlet.example.book.restlet.ch09.gwt/gwt-lib
/modules/org.restlet.example.book.restlet.ch09.gwt/gwt-unitCache
/modules/org.restlet.example.book.restlet.ch09.gwt/war/mail
/modules/org.restlet.example.book.restlet.ch09.gwt/war/WEB-INF/appengine-generated
/modules/org.restlet.example.book.restlet.ch09.gwt/war/WEB-INF/classes
/modules/org.restlet.example.book.restlet.ch09.gwt/war/WEB-INF/deploy
/modules/org.restlet.example.book.restlet.ch09.gwt/war/WEB-INF/lib
/modules/org.restlet.ext.atom/bin
/modules/org.restlet.ext.crypto/bin
/modules/org.restlet.ext.e4/bin
/modules/org.restlet.ext.emf/bin
/modules/org.restlet.ext.fileupload/bin
/modules/org.restlet.ext.freemarker/bin
/modules/org.restlet.ext.gae/bin
/modules/org.restlet.ext.gson/bin
/modules/org.restlet.ext.gwt/bin
/modules/org.restlet.ext.html/bin
/modules/org.restlet.ext.httpclient/bin
/modules/org.restlet.ext.jaas/bin
/modules/org.restlet.ext.jackson/bin
/modules/org.restlet.ext.javamail/bin
/modules/org.restlet.ext.jaxb/bin
/modules/org.restlet.ext.jaxrs/bin
/modules/org.restlet.ext.jdbc/bin
/modules/org.restlet.ext.jetty/bin
/modules/org.restlet.ext.jibx/bin
/modules/org.restlet.ext.json/bin
/modules/org.restlet.ext.lucene/bin
/modules/org.restlet.ext.net/bin
/modules/org.restlet.ext.oauth/bin
/modules/org.restlet.ext.odata/bin
/modules/org.restlet.ext.openid/bin
/modules/org.restlet.ext.osgi/bin
/modules/org.restlet.ext.rdf/bin
/modules/org.restlet.ext.rome/bin
/modules/org.restlet.ext.sdc/bin
/modules/org.restlet.ext.servlet/bin
/modules/org.restlet.ext.simple/bin
/modules/org.restlet.ext.sip/bin
/modules/org.restlet.ext.slf4j/bin
/modules/org.restlet.ext.spring/bin
/modules/org.restlet.ext.ssl/bin
/modules/org.restlet.ext.velocity/bin
/modules/org.restlet.ext.wadl/bin
/modules/org.restlet.ext.xdb/bin
/modules/org.restlet.ext.xml/bin
/modules/org.restlet.ext.xstream/bin
/modules/org.restlet.test/bin
/modules/org.restlet.test/velocity.log
/modules/org.restlet.test/velocity.log.1
/build/velocity.log
/build/build.number
*.iml
