<module id="spring" type="integration">
	<name>Restlet Extension - Spring Framework</name>
	<description>
		Integration with Spring Framework.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>servlet</id>
		</dependency>
		<dependency type="lib">
			<id>spring</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
		<dependency type="module">
			<id>servlet</id>
		</dependency>
	</dependencies>
</module>