<module id="sdc" excludes="android,gae,gwt" type="standard"
	package="org.restlet.ext.sdc">
	<name>Restlet Extension - Secure Data Connector</name>
	<description>
		Integration with Google SDC on the cloud side.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>
	<dependencies>
		<dependency type="library" id="sdc" primary="true" />
		<dependency type="library" id="guice" />
		<dependency type="library" id="gdata" />
		<dependency type="library" id="protobuf" />
		<dependency type="library" id="gcollections" />
		<dependency type="library" id="log4j" />
		<dependency type="library" id="xstream" />
        <dependency type="module" id="core" />
        <dependency type="module" id="ssl" />
	</dependencies>
</module>