<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.google.sdc/com.google.sdc.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.dataconnector.client.Client"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-debug -localConfigFile config/localConfig.xml -rulesFile config/resourceRules.xml -log4jPropertiesFile config/log4j.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.restlet.ext.sdc"/>
</launchConfiguration>
