<module excludes="*" id="core" type="core" package="org.restlet.gae">
   <label>Restlet API for GAE</label>
   <description>
      Port of Restlet to Google App Engine.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="javamail" />
      <dependency type="library" id="servlet" />
   </dependencies>
</module>