<module excludes="android, gwt" id="wadl" type="standard" package="org.restlet.ext.wadl">
	<name>Restlet Extension - WADL</name>
	<description>Support for the WADL specification.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="module" id="core" />
		<dependency type="module" id="xml" />
		<dependency includes="osgi" type="module" id="e4" />
		<dependency includes="osgi" type="library" id="osgi" maven-scope="compile" />
		<dependency includes="osgi" type="library" id="e4" maven-scope="compile" />
	</dependencies>
	<wikiUri>72-restlet</wikiUri>

	<source edition="gae">
		<files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/wadl/InjectedWadlServerResource.java" />
]]>
		</files-sets>
	</source>
	<source edition="jee">
		<files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/wadl/InjectedWadlServerResource.java" />
]]>
		</files-sets>
	</source>
	<source edition="jse">
		<files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/wadl/InjectedWadlServerResource.java" />
]]>
		</files-sets>
	</source>
</module>