<module excludes="android, gwt" id="wadl" type="standard" package="org.restlet.ext.wadl">
	<name>Restlet Extension - WADL</name>
	<description>Support for the WADL specification.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="module" id="core" />
		<dependency type="module" id="xml" />
	</dependencies>
	<wikiUri>72-restlet</wikiUri>
</module>