<module id="lucene" includes="jse" type="integration" package="org.restlet.ext.lucene">
   <name>Restlet Extension - Lucene</name>
   <description>
      Integration with Apache Lucene, Solr and Tika sub-projects.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="solr" />
      <dependency type="library" id="tika" />
      <dependency type="module" id="core" />
   </dependencies>
</module>