<module id="velocity" excludes="android,gwt" type="integration"
	package="org.restlet.ext.velocity">
	<name>Restlet Extension - Velocity</name>
	<description>
		Integration with Apache Velocity.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="collections" />
		<dependency type="library" id="lang" />
		<dependency type="library" id="velocity" primary="true" />
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri>71-restlet</wikiUri>
</module>