<module id="velocity" includes="jse" type="integration" package="org.restlet.ext.velocity">
   <name>Restlet Extension - Velocity</name>
   <description>
      Integration with Apache Velocity.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="velocity" />
      <dependency type="module" id="core" />
   </dependencies>
</module>