<module id="jibx" type="integration">
	<name>Restlet Extension - JiBX</name>
	<description>
		Integration with JiBX.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>jibx</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>