<module id="foaf" excludes="*" type="standards"
   package="org.restlet.ext.foaf">
   <label>Restlet Extension - FOAF</label>
   <description>
      Support of the FOAF (Friend-Of-A-Friend) standard.
	</description>

   <dependencies>
      <dependency type="module" id="core" />
      <dependency type="module" id="rdf" />
   </dependencies>
</module>