<module id="example" type="connector">
	<name>Restlet Extension - Jetty</name>
	<description>
		Integration with Jetty.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>jetty</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>