<module id="jetty" includes="jse" type="connector" package="org.restlet.ext.jetty">
	<name>Restlet Extension - Jetty</name>
	<description>
		Integration with Jetty.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="jetty" primary="true" />
		<dependency type="library" id="servlet" />
		<dependency type="module" id="core" />
		<dependency type="module" id="ssl" />
	</dependencies>
	<wikiUri>78-restlet</wikiUri>
</module>