<module id="jetty" includes="jse" type="connector" package="org.restlet.ext.jetty">
	<name>Restlet Extension - Jetty</name>
	<description>
		Integration with Jetty.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="library">
			<id>jetty</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>