<module id="xdb" includes="jse" type="integration" package="org.restlet.ext.xdb">
   <name>Restlet Extension - Oracle XML DB</name>
   <description>
      Integration within OracleJVM via the Oracle XML DB feature.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="servlet" />
      <dependency type="module" id="core" />
      <dependency type="module" id="servlet" />
   </dependencies>
</module>