<module includes="osgi" id="osgi" type="standard" package="org.restlet.ext.osgi">
	<name>Restlet Extension - OSGi</name>
	<description>Support for the OSGi specification.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="module" id="core" />
		<dependency type="library" id="osgi" maven-scope="compile" />
		<dependency type="library" id="e4" maven-scope="compile" />
	</dependencies>
	<wikiUri>TODO</wikiUri>

</module>