<module id="oauth">
	<name>Restlet Extension - OAuth</name>
	<description>
		Support for OAuth HTTP authentication.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>auth</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>