<module id="crypto" excludes="gwt" type="standard" package="org.restlet.ext.crypto">
   <name>Restlet Extension - Crypto</name>
   <description>Support for cryptography.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>
   <dependencies>
      <dependency type="module" id="core" />
   </dependencies>
   <wikiUri>314-restlet</wikiUri>
</module>