<module id="rdf">
	<name>Restlet Extension - RDF</name>
	<description>
		Support for the RDF parsing and generation.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>