<module id="jxta" includes="jse" type="integration" package="org.restlet.ext.jxta">
   <name>Restlet Extension - JXTA</name>
   <description>
      Integration with JXTA framework.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="servlet" />
      <dependency type="library" id="jxta" />
      <dependency type="module" id="core" />
   </dependencies>
</module>