<module id="jxta" excludes="gae, gwt" type="integration" package="org.restlet.ext.jxta">
   <label>Restlet Extension - JXTA</label>
   <description>
      Integration with JXTA framework.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="dbcp" />
      <dependency type="library" id="jxta" />
      <dependency type="library" id="pool" />
      <dependency type="module" id="core" />
   </dependencies>
</module>