<module id="supercsv" excludes="gwt" type="integration"
	package="org.restlet.ext.supercsv">
	<name>Restlet Extension - SuperCSV</name>
	<description>
		Integration with SuperCSV.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="library" id="supercsv" primary="true" />
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri></wikiUri>
</module>