<module id="core" type="core" package="org.restlet">
	<name>Restlet Core</name>
	<description>
		RESTful Web framework for Java (API and engine).
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency excludes="android, gae, gwt" type="library" id="osgi"
			maven-scope="compile" />
		<dependency includes="gwt" type="library" id="gwt" />
	</dependencies>
	<osgi>
		<export>org.restlet</export>
		<export>org.restlet.data</export>
		<export>org.restlet.engine</export>
		<export>org.restlet.engine.application</export>
		<export>org.restlet.engine.component</export>
		<export>org.restlet.engine.connector</export>
		<export>org.restlet.engine.converter</export>
		<export>org.restlet.engine.http</export>
		<export>org.restlet.engine.http.adapter</export>
		<export>org.restlet.engine.http.connector</export>
		<export>org.restlet.engine.http.header</export>
		<export>org.restlet.engine.http.io</export>
		<export>org.restlet.engine.http.security</export>
		<export>org.restlet.engine.http.stream</export>
		<export>org.restlet.engine.io</export>
		<export>org.restlet.engine.local</export>
		<export>org.restlet.engine.riap</export>
		<export>org.restlet.engine.security</export>
		<export>org.restlet.engine.util</export>
		<export>org.restlet.representation</export>
		<export>org.restlet.resource</export>
		<export>org.restlet.routing</export>
		<export>org.restlet.security</export>
		<export>org.restlet.service</export>
		<export>org.restlet.util</export>
		<import>javax.crypto</import>
		<import> javax.crypto.spec</import>
		<import> javax.net</import>
		<import> javax.net.ssl</import>
		<import> javax.security.auth</import>
		<import> javax.security.auth.callback</import>
		<import> javax.security.auth.login</import>
		<import excludes="android">org.osgi.framework</import>
		<activator includes="*" excludes="android" />
	</osgi>
	<source edition="android">
		<files-mappers>
<![CDATA[
      <mapper classname="mapper.ReplaceStringMapper" classpathref="forge-path" from=".MF.android" to=".MF" />
]]>
		</files-mappers>
		<files-sets>
<![CDATA[
         <exclude name="META-INF/MANIFEST.MF" />
         <exclude name="src/com/**" />
         <exclude name="src/org/restlet/engine/internal/Activator.java" />
         <exclude name="src/org/restlet/security/JaasVerifier.java" />
]]>
		</files-sets>
	</source>
	<source edition="gae">
		<files-mappers>
<![CDATA[
      <mapper classname="mapper.ReplaceStringMapper" classpathref="forge-path" from=".MF.gae" to=".MF" />
]]>
		</files-mappers>
		<files-sets>
<![CDATA[
         <exclude name="META-INF/MANIFEST.MF" />
         <exclude name="src/com/**" />
         <exclude name="src/org/restlet/engine/connector/**" />
         <exclude name="src/org/restlet/engine/internal/Activator.java" />
         <exclude name="src/org/restlet/engine/http/connector/**" />
         <exclude name="src/org/restlet/engine/http/io/ChunkedInputStream.java" />
         <exclude name="src/org/restlet/engine/http/io/ClosingInputStream.java" />
         <exclude name="src/org/restlet/engine/http/io/InputEntityStream.java" />
         <exclude name="src/org/restlet/engine/http/io/SizedInputStream.java" />
         <exclude name="src/org/restlet/engine/log/IdentClient.java" />
         <exclude name="src/org/restlet/service/TaskService.java" />
]]>
		</files-sets>
	</source>
	<source edition="gwt">
		<files-mappers>
<![CDATA[
      <mapper classname="mapper.ReplaceStringMapper" classpathref="forge-path" from=".java.gwt" to=".java" />
      <mapper classname="mapper.ReplaceStringMapper" classpathref="forge-path" from=".MF.gwt" to=".MF" />
]]>
		</files-mappers>
		<files-filters>
<![CDATA[
      <tokenfilter>
          <replacestring from="com.google.gwt.emul." to=""/>
      </tokenfilter>
]]>
		</files-filters>
		<files-sets>
<![CDATA[
         <exclude name="META-INF/MANIFEST.MF" />
         <custom classname="selector.EditionFileSelector" classpathref="forge-path">
            <param name="edition" value="gwt"/>
         </custom>
         <exclude name="src/org/restlet/Application.java" />
         <exclude name="src/org/restlet/Component.java" />
         <exclude name="src/org/restlet/Component.xsd" />
         <exclude name="src/org/restlet/data/agent.properties" />
         <exclude name="src/org/restlet/data/Expectation.java" />
         <exclude name="src/org/restlet/data/LocalReference.java" />
         <exclude name="src/org/restlet/engine/ChainHelper.java" />
         <exclude name="src/org/restlet/engine/ServerHelper.java" />
         <exclude name="src/org/restlet/engine/TemplateDispatcher.java" />
         <exclude name="src/org/restlet/engine/component/**" />
         <exclude name="src/org/restlet/engine/connector/**" />
         <exclude name="src/org/restlet/engine/converter/**" />
         <exclude name="src/org/restlet/engine/http/HttpRequest.java" />
         <exclude name="src/org/restlet/engine/http/HttpResponse*.java" />
         <exclude name="src/org/restlet/engine/http/HttpServer*.java" />
         <exclude name="src/org/restlet/engine/http/Server*" />
         <exclude name="src/org/restlet/engine/http/connector/**" />
         <exclude name="src/org/restlet/engine/http/header/ExpectationUtils.java" />
         <exclude name="src/org/restlet/engine/http/header/ExpectationReader.java" />
         <exclude name="src/org/restlet/engine/http/header/ExpectationWriter.java" />
         <exclude name="src/org/restlet/engine/http/io/**" />
         <exclude name="src/org/restlet/engine/http/security/**" />
         <exclude name="src/org/restlet/engine/internal/**" />
         <exclude name="src/org/restlet/engine/io/Trace*" />
         <exclude name="src/org/restlet/engine/io/*Channel*" />
         <exclude name="src/org/restlet/engine/local/**" />
         <exclude name="src/org/restlet/engine/log/AccessLogFileHandler.java" />
         <exclude name="src/org/restlet/engine/log/AccessLogFormatter.java" />
         <exclude name="src/org/restlet/engine/log/DefaultAccessLogFormatter.java" />
         <exclude name="src/org/restlet/engine/log/IdentClient.java" />
         <exclude name="src/org/restlet/engine/log/LogFilter.java" />
         <exclude name="src/org/restlet/engine/log/LoggingThreadFactory.java" />
         <exclude name="src/org/restlet/engine/log/TraceHandler.java" />
         <exclude name="src/org/restlet/engine/riap/**" />
         <exclude name="src/org/restlet/engine/security/**" />
         <exclude name="src/org/restlet/engine/util/AlphabeticalComparator.java" />
         <exclude name="src/org/restlet/engine/util/AlphaNumericComparator.java" />
         <exclude name="src/org/restlet/engine/util/Base64.java" />
         <exclude name="src/org/restlet/engine/util/CallResolver.java" />
         <exclude name="src/org/restlet/engine/util/Conneg.java" />
         <exclude name="src/org/restlet/engine/util/ConnegUtils.java" />
         <exclude name="src/org/restlet/engine/util/DefaultSaxHandler.java" />
         <exclude name="src/org/restlet/engine/util/DigestUtils.java" />
         <exclude name="src/org/restlet/engine/util/EngineClassLoader.java" />
         <exclude name="src/org/restlet/engine/util/InternetDateFormat.java" />
         <exclude name="src/org/restlet/engine/util/MapResolver.java" />
         <exclude name="src/org/restlet/engine/util/Pool.java" />         
         <exclude name="src/org/restlet/representation/AppendableRepresentation.java" />
         <exclude name="src/org/restlet/representation/ChannelRepresentation.java" />
         <exclude name="src/org/restlet/representation/DigesterRepresentation.java" />
         <exclude name="src/org/restlet/representation/DigestRepresentation.java" />
         <exclude name="src/org/restlet/representation/FileRepresentation.java" />
         <exclude name="src/org/restlet/representation/OutputRepresentation.java" />
         <exclude name="src/org/restlet/representation/ReadableRepresentation.java" />
         <exclude name="src/org/restlet/representation/ReaderRepresentation.java" />
         <exclude name="src/org/restlet/representation/WritableRepresentation.java" />
         <exclude name="src/org/restlet/representation/WriterRepresentation.java" />
         <exclude name="src/org/restlet/resource/Directory.java" />
         <exclude name="src/org/restlet/resource/Finder.java" />
         <exclude name="src/org/restlet/resource/Handler.java" />
         <exclude name="src/org/restlet/resource/Resource.java" />
         <exclude name="src/org/restlet/resource/ServerResource.java" />
         <exclude name="src/org/restlet/routing/**" />
         <exclude name="src/org/restlet/security/**" />
         <exclude name="src/org/restlet/Server.java" />
         <exclude name="src/org/restlet/service/accept.properties" />
         <exclude name="src/org/restlet/service/ConnectorService.java" />
         <exclude name="src/org/restlet/service/ConverterService.java" />
         <exclude name="src/org/restlet/service/DecoderService.java" />
         <exclude name="src/org/restlet/service/LogService.java" />
         <exclude name="src/org/restlet/service/RangeService.java" />
         <exclude name="src/org/restlet/service/RealmService.java" />
         <exclude name="src/org/restlet/service/TaskService.java" />
         <exclude name="src/org/restlet/service/TunnelService.java" />
         <exclude name="src/org/restlet/util/Resolver.java" />
         <exclude name="src/org/restlet/util/RouteList.java" />
         <exclude name="src/org/restlet/util/ServerHelper.java" />
         <exclude name="src/org/restlet/util/ServerList.java" />
         <exclude name="src/org/restlet/util/ServiceList.java" />
         <exclude name="src/org/restlet/util/Template.java" />
         <exclude name="src/org/restlet/util/TemplateDispatcher.java" />
         <exclude name="src/org/restlet/util/Variable.java" />
         <exclude name="target/**" />
]]>
		</files-sets>
	</source>
	<source edition="jee">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
]]>
		</files-sets>
	</source>
	<source edition="jse">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
]]>
		</files-sets>
	</source>
	<compile edition="gwt" excludes="**/com/google/**" />
	<stage edition="gwt" includesource="true" />

</module>