<module id="core" type="core" package="org.restlet">
	<name>Restlet Core - API and Engine</name>
	<description>
		RESTful web framework for Java (API and Engine).
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency includes="osgi" type="library" id="osgi" maven-scope="compile" />
		<dependency includes="gwt" type="library" id="gwt" />
	</dependencies>
	<source edition="android">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
         <exclude name="src/org/restlet/engine/internal/Activator.java" />
]]>
		</files-sets>
	</source>
	<source edition="gae">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
         <exclude name="src/org/restlet/engine/connector/**" />
         <exclude name="src/org/restlet/engine/internal/Activator.java" />
         <exclude name="src/org/restlet/engine/io/*SocketChannel.java" />
         <exclude name="src/org/restlet/engine/local/FileClientHelper.java" />
         <exclude name="src/org/restlet/engine/local/ZipClientHelper.java" />
         <exclude name="src/org/restlet/engine/log/AccessLogFileHandler.java" />
         <exclude name="src/org/restlet/engine/log/IdentClient.java" />
         <exclude name="src/org/restlet/service/TaskService.java" />
]]>
		</files-sets>
	</source>
	<source edition="gwt">
		<files-mappers>
<![CDATA[
      <mapper classname="mapper.ReplaceStringMapper" classpathref="forge-path" from=".java.gwt" to=".java" />
]]>
		</files-mappers>
		<files-filters>
<![CDATA[
      <tokenfilter>
          <replacestring from="com.google.gwt.emul." to=""/>
      </tokenfilter>
]]>
		</files-filters>
		<files-sets>
<![CDATA[
         <custom classname="selector.EditionFileSelector" classpathref="forge-path">
            <param name="edition" value="gwt"/>
         </custom>
         <exclude name="src/org/restlet/Application.java" />
         <exclude name="src/org/restlet/Component.java" />
         <exclude name="src/org/restlet/Component.xsd" />
         <exclude name="src/org/restlet/data/agent.properties" />
         <exclude name="src/org/restlet/data/Expectation.java" />
         <exclude name="src/org/restlet/data/LocalReference.java" />
         <exclude name="src/org/restlet/engine/ChainHelper.java" />
         <exclude name="src/org/restlet/engine/CompositeHelper.java" />
         <exclude name="src/org/restlet/engine/ServerHelper.java" />
         <exclude name="src/org/restlet/engine/TemplateDispatcher.java" />
         <exclude name="src/org/restlet/engine/adapter/HttpRequest.java" />
         <exclude name="src/org/restlet/engine/adapter/HttpResponse.java" />
         <exclude name="src/org/restlet/engine/adapter/HttpServer*.java" />
         <exclude name="src/org/restlet/engine/adapter/Server*.java" />
         <exclude name="src/org/restlet/engine/application/*Conneg.java" />
         <exclude name="src/org/restlet/engine/component/**" />
         <exclude name="src/org/restlet/engine/connector/**" />
         <exclude name="src/org/restlet/engine/converter/**" />
         <exclude name="src/org/restlet/engine/header/ExpectationUtils.java" />
         <exclude name="src/org/restlet/engine/header/ExpectationReader.java" />
         <exclude name="src/org/restlet/engine/header/ExpectationWriter.java" />
         <exclude name="src/org/restlet/engine/http/security/**" />
         <exclude name="src/org/restlet/engine/internal/**" />
         <exclude name="src/org/restlet/engine/io/Drainer.java" />
         <exclude name="src/org/restlet/engine/io/Buffer*.java" />
         <exclude name="src/org/restlet/engine/io/ReaderInputStream.java" />
         <exclude name="src/org/restlet/engine/io/Trace*" />
         <exclude name="src/org/restlet/engine/io/*Channel*" />
         <exclude name="src/org/restlet/engine/local/**" />
         <exclude name="src/org/restlet/engine/log/AccessLogFileHandler.java" />
         <exclude name="src/org/restlet/engine/log/AccessLogFormatter.java" />
         <exclude name="src/org/restlet/engine/log/DefaultAccessLogFormatter.java" />
         <exclude name="src/org/restlet/engine/log/IdentClient.java" />
         <exclude name="src/org/restlet/engine/log/LogFilter.java" />
         <exclude name="src/org/restlet/engine/log/LoggingThreadFactory.java" />
         <exclude name="src/org/restlet/engine/log/LogUtils.java" />
         <exclude name="src/org/restlet/engine/log/*Formatter.java" />
         <exclude name="src/org/restlet/engine/security/**" />
         <exclude name="src/org/restlet/engine/util/AlphabeticalComparator.java" />
         <exclude name="src/org/restlet/engine/util/AlphaNumericComparator.java" />
         <exclude name="src/org/restlet/engine/util/CallResolver.java" />
         <exclude name="src/org/restlet/engine/util/ChildClientDispatcher.java" />
         <exclude name="src/org/restlet/engine/util/ChildContext.java" />
         <exclude name="src/org/restlet/engine/util/Conneg.java" />
         <exclude name="src/org/restlet/engine/util/ConnegUtils.java" />
         <exclude name="src/org/restlet/engine/util/CookieSeries.java" />
         <exclude name="src/org/restlet/engine/util/CookieSettingSeries.java" />
         <exclude name="src/org/restlet/engine/util/DefaultSaxHandler.java" />
         <exclude name="src/org/restlet/engine/util/DigestUtils.java" />
         <exclude name="src/org/restlet/engine/util/EngineClassLoader.java" />
         <exclude name="src/org/restlet/engine/util/InternetDateFormat.java" />
         <exclude name="src/org/restlet/engine/util/MapResolver.java" />
         <exclude name="src/org/restlet/engine/util/Pool.java" />
         <exclude name="src/org/restlet/engine/util/ReferenceUtils.java" />
         <exclude name="src/org/restlet/representation/AppendableRepresentation.java" />
         <exclude name="src/org/restlet/representation/ByteArrayRepresentation.java" />
         <exclude name="src/org/restlet/representation/CachingRepresentation.java" />
         <exclude name="src/org/restlet/representation/ChannelRepresentation.java" />
         <exclude name="src/org/restlet/representation/DigesterRepresentation.java" />
         <exclude name="src/org/restlet/representation/DigestRepresentation.java" />
         <exclude name="src/org/restlet/representation/FileRepresentation.java" />
         <exclude name="src/org/restlet/representation/OutputRepresentation.java" />
         <exclude name="src/org/restlet/representation/ReadableRepresentation.java" />
         <exclude name="src/org/restlet/representation/ReaderRepresentation.java" />
         <exclude name="src/org/restlet/representation/WritableRepresentation.java" />
         <exclude name="src/org/restlet/representation/WriterRepresentation.java" />
         <exclude name="src/org/restlet/resource/Directory.java" />
         <exclude name="src/org/restlet/resource/Finder.java" />
         <exclude name="src/org/restlet/resource/Handler.java" />
         <exclude name="src/org/restlet/resource/ServerResource.java" />
         <exclude name="src/org/restlet/routing/**" />
         <exclude name="src/org/restlet/security/**" />
         <exclude name="src/org/restlet/Server.java" />
         <exclude name="src/org/restlet/service/accept.properties" />
         <exclude name="src/org/restlet/service/ConnegService.java" />
         <exclude name="src/org/restlet/service/ConnectorService.java" />
         <exclude name="src/org/restlet/service/ConverterService.java" />
         <exclude name="src/org/restlet/service/DecoderService.java" />
         <exclude name="src/org/restlet/service/EncoderService.java" />
         <exclude name="src/org/restlet/service/LogService.java" />
         <exclude name="src/org/restlet/service/RangeService.java" />
         <exclude name="src/org/restlet/service/RealmService.java" />
         <exclude name="src/org/restlet/service/TaskService.java" />
         <exclude name="src/org/restlet/service/TunnelService.java" />
         <exclude name="src/org/restlet/util/InputListener.java" />
         <exclude name="src/org/restlet/util/ReadableListener.java" />
         <exclude name="src/org/restlet/util/ReaderListener.java" />
         <exclude name="src/org/restlet/util/Resolver.java" />
         <exclude name="src/org/restlet/util/RouteList.java" />
         <exclude name="src/org/restlet/util/SelectionListener.java" />
         <exclude name="src/org/restlet/util/SelectionRegistration.java" />
         <exclude name="src/org/restlet/util/StringListener.java" />
         <exclude name="src/org/restlet/util/ServerHelper.java" />
         <exclude name="src/org/restlet/util/ServerList.java" />
         <exclude name="src/org/restlet/util/ServiceList.java" />
         <exclude name="src/org/restlet/util/Template.java" />
         <exclude name="src/org/restlet/util/TemplateDispatcher.java" />
         <exclude name="src/org/restlet/util/Variable.java" />
         <exclude name="target/**" />
]]>
		</files-sets>
	</source>
	<source edition="jee">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
         <exclude name="src/org/restlet/engine/internal/Activator.java" />
]]>
		</files-sets>
	</source>
	<source edition="jse">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
         <exclude name="src/org/restlet/engine/internal/Activator.java" />
]]>
		</files-sets>
	</source>
	<source edition="osgi">
		<files-sets>
<![CDATA[
         <exclude name="src/com/**" />
]]>
		</files-sets>
	</source>
	<compile edition="gwt" excludes="**/com/google/**" />
	<stage edition="gwt" includesource="true" />

</module>