<module id="jaxrs" excludes="android,gwt" type="standard" package="org.restlet.ext.jaxrs">
	<name>Restlet Extension - JAX-RS</name>
	<description>Support for JAX-RS 2.0</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="fileupload" />
		<dependency type="library" id="javamail" />
		<dependency type="library" id="jaxb-ri" />
		<dependency type="library" id="jaxrs" primary="true" />
		<dependency type="library" id="json" />
		<dependency type="library" id="lang" />
		<dependency type="library" id="resteasy" />
		<dependency type="library" id="servlet" />
		<dependency type="module" id="core" />
	</dependencies>

	<source edition="gae">
		<files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/jaxrs/internal/provider/FileProvider.java" />
]]>
		</files-sets>
	</source>
	<wikiUri>57-restlet</wikiUri>
</module>