<module id="jaxrs" includes="jse" type="standard" package="org.restlet.ext.jaxrs">
   <name>Restlet Extension - JAX-RS</name>
   <description>
      Implementation of JAX-RS (JSR-311)
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="jaxb-ri" />
      <dependency type="library" id="fileupload" />
      <dependency type="library" id="activation" />
      <dependency type="library" id="javamail" />
      <dependency type="library" id="servlet" />
      <dependency type="library" id="jaxrs" />
      <dependency type="library" id="json" />
      <dependency type="module" id="core" />
   </dependencies>
</module>