<module id="xdb" includes="jse" type="integration" package="org.restlet.ext.xdb">
	<name>Restlet Extension - Oracle XML DB</name>
	<description>
		Integration within OracleJVM via the Oracle XML DB feature.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="library">
			<id>servlet</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
		<dependency type="module">
			<id>servlet</id>
		</dependency>
	</dependencies>
</module>