<module id="xml" includes="jse" type="standard" package="org.restlet.ext.xml">
   <label>Restlet Extension - XML</label>
   <description>
      Support for the XML documents.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="module" id="core" />
   </dependencies>
</module>