<module id="sip" excludes="gae,gwt" type="standard" package="org.restlet.ext.sip">
	<name>Restlet Extension - SIP</name>
	<description>Support for Session Initiation Protocol (SIP).</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>
	
	<dependencies>
		<dependency type="module" id="core" />
		<dependency type="module" id="nio" />
	</dependencies>
	<wikiUri>390-restlet</wikiUri>
</module>