
/* general */
* {margin:0; border:0; padding:0}

html, body {width:100%; height:100%; text-align:center; color:#2e3436; background:#ffffff url(../images/back.gif) repeat-x 0 0}
acronym {text-decoration:none; font-weight:bold; font-style:normal; cursor:help}

/* container */

#container {
position:relative; width:700px; margin:0 auto; font:90% "Times New Roman", Times, serif; text-align:left; 
background:#ffffff}

#container p {margin:10px 20px 0; line-height:140%; text-align:justify}
#container p.p1 {text-indent:20px}

#container a:link, #container a:visited {color:#292f33; text-decoration:none; background:transparent; border-bottom:1px solid #292f33}
#container a:hover, #container a:focus {color:#3c4246; text-decoration:none; background:transparent; border-bottom:2px solid #3c4246}
#container a:active {color:#d8dde0; text-decoration:none; background:#3c4246; border-bottom:2px solid #3c4246}

/* Logo RMEP */
#logoRmep {position:relative; width:700px; height:150px; background:#d3d7cf}
#logoRmep img {margin:20px 0 0 20px ; }
#logoRmep a {text-decoration: none }

/* quickSummary */
#quickSummary {position:absolute; top:75px; left:280px; width:420px; }
#quickSummary p {margin:20px 0 0 0; line-height:120%; text-align:right}
#quickSummary p.p1 {text-indent:0; background:#d3d7cf; color:#292f33; font-variant:small-caps}

/* hello */
#hello {position:relative; top:10px; left:240px; width:460px; }
#hello {color:#f57900; letter-spacing:1px; word-spacing:5px; text-align: right; font-weight: bold; border-bottom:1px solid #f57900}

/* content */
#content {position:relative; top:20px; left:240px; width:480px}

/* menu */
#menu {position:absolute; top:180px; left:0; width:200px; font:100% "Trebuchet MS", "Lucida Sans", Arial, Helvetica, sans-serif; text-align:center ; border-right: 1px solid black}
#menu h3{float:left; clear:left; width:200px; height:40px; overflow:hidden}
#menu a {display:block; color: #3465a4}

img {border: none;}
