<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>
		Servlet engine as a connector for a Restlet component
	</display-name>

	<servlet>
		<servlet-name>MailServerComponent</servlet-name>
		<servlet-class>
			org.restlet.ext.servlet.ServerServlet
        </servlet-class>
		<init-param>
			<param-name>org.restlet.component</param-name>
			<param-value>
				org.restlet.example.book.restlet.ch03.sec3.server.MailServerComponent
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>MailServerComponent</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
