<module id="apispark-swagger-annotation-1_2" excludes="android,gwt" type="integration" package="org.restlet.ext.apispark.swagger.1_2">
	<name>ApiSpark Extension - Support for swagger annotations 1.2 (library swagger 1.3)</name>
	<description>Support for the Swagger specification.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="swagger.annotations_1.3" />
		<dependency type="module" id="core" />
		<dependency type="module" id="apispark" />
	</dependencies>
</module>
