<module id="servlet" includes="jee, gae" type="integration" package="org.restlet.ext.servlet">
   <name>Restlet Extension - Servlet</name>
   <description>
      Integration with Servlet API.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="servlet" maven-scope="provided" primary="true" />
      <dependency type="module" id="core" />
   </dependencies>
</module>