<module includes="jse,jee, osgi" id="example"  type="misc" package="org.restlet.example">
	<name>Restlet examples</name>
	<description>Various examples including those from the tutorial
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="db4o" />
		<dependency type="library" id="junit" />
		<dependency type="library" id="rome" />
		<dependency type="library" id="testng" />
		<dependency type="library" id="mongodb" />
		<dependency type="module" id="core" />
		<dependency type="module" id="atom" />
		<dependency type="module" id="fileupload" />
		<dependency type="module" id="freemarker" />
		<dependency type="module" id="guice" />
		<dependency type="module" id="jackson" />
		<dependency type="module" id="jaxb" />
		<dependency type="module" id="jaxrs" />
		<dependency type="module" id="jetty" includes="jse,osgi" />
		<dependency type="module" id="jibx" />
		<dependency type="module" id="json" />
		<dependency type="module" id="rdf" />
		<dependency type="module" id="sip" />
		<dependency type="module" id="spring" />
		<dependency type="module" id="velocity" />
		<dependency type="module" id="xml" />
		<dependency type="module" id="xstream" />
		<dependency type="module" id="wadl" />
		<dependency type="module" id="crypto" />
		<dependency type="module" id="jaas" />
		<dependency type="module" id="sdc" />
		<dependency type="module" id="openid" />
		<dependency type="module" id="oauth" />
		<dependency type="module" id="osgi" includes="osgi" />
	</dependencies>

	<source edition="jee">
		<files-sets>
<![CDATA[
        <exclude name="OSGI-INF/*" />
        <exclude name="src/org/restlet/example/ext/osgi/**" />
]]>
		</files-sets>
	</source>
	<source edition="jse">
		<files-sets>
<![CDATA[
        <exclude name="OSGI-INF/*" /> 
        <exclude name="src/org/restlet/example/ext/osgi/**" />
]]>
		</files-sets>
	</source>
</module>