<module includes="jse" id="example" package="org.restlet.example">
   <name>Restlet examples</name>
   <description>
      Various examples including those from the tutorial
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="db4o" />
      <dependency type="library" id="junit" />
      <dependency type="module" id="core" />
      <dependency type="module" id="atom" />
      <dependency type="module" id="freemarker" />
      <dependency type="module" id="jaxb" />
      <dependency type="module" id="jaxrs" />
      <dependency type="module" id="jetty" />
      <dependency type="module" id="jibx" />
      <dependency type="module" id="json" />
      <dependency type="module" id="rdf" />
      <dependency type="module" id="spring" />
      <dependency type="module" id="velocity" />
   </dependencies>
</module>