<module id="jaxb" excludes="android,gwt" type="integration" package="org.restlet.ext.jaxb">
	<name>Restlet Extension - JAXB</name>
	<description>Integration with Java XML Binding.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="jaxb-ri"  primary="true"/>
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri>67-restlet</wikiUri>
</module>