<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>adapter</servlet-name>
		<servlet-class>com.noelios.restlet.ext.gwt.GwtShellServletWrapper</servlet-class>
		<init-param>
		  <param-name>org.restlet.application</param-name>
		  <param-value>org.restlet.test.gwt.server.TestApplication</param-value>
		</init-param>
		<init-param>
		  <param-name>module</param-name>
		  <param-value>org.restlet.test.gwt.TestClient</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adapter</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
