<module id="sip" excludes="gwt" type="standard"
	package="org.restlet.ext.sip">
	<name>Restlet Extension - SIP</name>
	<description>
		Support for Session Initiation Protocol (SIP).
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>
	<dependencies>
		<dependency type="module" id="core" />
	</dependencies>
</module>