<module id="webdav" excludes="gwt" type="standard"
	package="org.restlet.ext.webdav">
	<name>Restlet Extension - WebDAV</name>
	<description>
		Support for Web-based Distributed Authoring and Versioning (WebDAV).
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>
	<dependencies>
		<dependency type="module" id="core" />
	</dependencies>
</module>