<module id="odata" excludes="gwt" type="standard" package="org.restlet.ext.odata">
	<name>Restlet Extension - OData</name>
	<description>Integration with OData services.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>
	
	<dependencies>
		<dependency type="module" id="core" />
		<dependency type="module" id="atom" />
		<dependency type="module" id="freemarker" excludes="android" />
		<dependency type="module" id="xml" />
		<dependency type="library" id="freemarker" excludes="android" />
		<dependency type="library" id="gson" />
		<dependency type="library" id="mimepull" />
		<dependency type="library" id="jaxrs" />
		<dependency type="library" id="cli" />
	</dependencies>
	<source edition="android">
		<files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/odata/Generator.java" />
         <exclude name="src/org/restlet/ext/odata/internal/templates/**" />
]]>
		</files-sets>
	</source>
	<source edition="gae">
		<files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/odata/Generator.java" />
         <exclude name="src/org/restlet/ext/odata/internal/templates/**" />
]]>
		</files-sets>
	</source>
	<wikiUri>287-restlet</wikiUri>
</module>
