<module includes="jse" id="test" package="org.restlet.test">
   <name>Restlet Unit Tests</name>
   <description>
      All Restlet unit tests.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="junit" />
      <dependency type="module" id="core" />
      <dependency type="module" id="atom" />
      <dependency type="module" id="freemarker" />
      <dependency type="module" id="grizzly" />
      <dependency type="module" id="core-gwt" />
      <dependency type="module" id="gwt" />
      <dependency type="module" id="httpclient" />
      <dependency type="module" id="jaxb" />
      <dependency type="module" id="jaxrs" />
      <dependency type="module" id="jetty" />
      <dependency type="module" id="lucene" />
      <dependency type="module" id="net" />
      <dependency type="module" id="rdf" />
      <dependency type="module" id="script" />
      <dependency type="module" id="simple" />
      <dependency type="module" id="spring" />
      <dependency type="module" id="velocity" />
      <dependency type="module" id="wadl" />
   </dependencies>
</module>