<module id="raml" excludes="android,gwt" type="integration"
	package="org.restlet.ext.raml">
	<name>Restlet Extension - Raml</name>
	<description>Support for the RAML specification.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="slf4j" />
		<dependency type="library" id="raml" />
		<dependency type="library" id="jaxrs" />
		<dependency type="library" id="jackson" />
		<dependency type="library" id="json4s" />
		<dependency type="module" id="core" />
		<dependency type="module" id="jackson" />
		<dependency type="module" id="jaxrs" />
		<dependency type="module" id="apispark" />
	</dependencies>
	<wikiUri>xx-tobedefined</wikiUri>
</module>