<module includes="jee, jse" id="gwt" type="integration" package="org.restlet.ext.gwt">
   <label>Restlet Extension - GWT</label>
   <description>
      Server-side integration with GWT.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="gwt" />
      <dependency type="library" id="servlet" includes="jee" maven-scope="provided" />
      <dependency type="module" id="core" />
      <dependency type="module" id="servlet" includes="jee" />
   </dependencies>
   <source edition="jse">
      <files-sets>
<![CDATA[
         <exclude name="src/org/restlet/ext/gwt/GwtShellServletWrapper.java" />
]]>
      </files-sets>
   </source>
</module>