<module includes="gwt" id="gwt" type="integration" package="org.restlet.ext.gwt">
   <name>Restlet Extension - GWT</name>
   <description>
      Server-side integration with GWT.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="servlet" />
      <dependency type="module" id="core" />
      <dependency type="module" id="servlet" />
   </dependencies>
</module>