<module id="net" excludes="gwt" type="connector" package="org.restlet.ext.net">
	<name>Restlet Extension - NIO</name>
	<description>Integration with java.nio package.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri>79-restlet</wikiUri>
</module>