<module excludes="android, gwt" id="wadl" type="standard" package="org.restlet.ext.swagger">
	<name>Restlet Extension - Swagger</name>
	<description>Support for the Swagger specification.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri></wikiUri>
</module>