<module id="ssl" excludes="gae, gwt" type="standard" package="org.restlet.ext.ssl">
	<name>Restlet Extension - SSL support</name>
	<description>
		Utilities to configure SSL support.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="jsslutils" primary="true" />
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri>153-restlet</wikiUri>
</module>