<module id="servlet" includes="jse" type="integration" package="org.restlet.ext.servlet">
	<name>Restlet Extension - Servlet</name>
	<description>
		Integration with Servlet API.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="library">
			<id>servlet</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>