<module id="jackson" excludes="gwt" type="integration" package="org.restlet.ext.jackson">
	<name>Restlet Extension - Jackson</name>
	<description>Integration with Jackson.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="jackson" primary="true" />
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri>299-restlet</wikiUri>
</module>