<module id="json" excludes="gwt" type="standard" package="org.restlet.ext.json">
   <label>Restlet Extension - JSON</label>
   <description>
      Support for JSON representations.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="json" />
      <dependency type="module" id="core" />
   </dependencies>
</module>