<module id="html" excludes="gwt" type="standard" package="org.restlet.ext.html">
   <name>Restlet Extension - HTML</name>
   <description>
      Support for the HTML (HyperText Markup Language) standard in its 4.0 version and above.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

   <dependencies>
      <dependency type="module" id="core" />
   </dependencies>
   <wikiUri>412-restlet</wikiUri>
</module>