<module id="xstream" includes="jse" type="integration" package="org.restlet.ext.xstream">
   <name>Restlet Extension - XStream</name>
   <description>
      Integration with XStream.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>

   <dependencies>
      <dependency type="library" id="jettison" />
      <dependency type="library" id="xstream" />
      <dependency type="module" id="core" />
   </dependencies>
</module>