<module id="xstream" type="integration">
	<name>Restlet Extension - XStream</name>
	<description>
		Integration with XStream.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>xstream</id>
		</dependency>
		<dependency type="lib">
			<id>jettison</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>