<module includes="android" id="android" type="core" package="org.restlet.android">
   <name>Restlet API for Android</name>
   <description>
      Port of Restlet to Android SDK.
	</description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>
</module>