<module excludes="*" id="core" type="core" package="org.restlet.android">
   <label>Restlet API for Android</label>
   <description>
      Port of Restlet to Android SDK.
   </description>
   <distributions>
      <distribution id="classic" />
      <distribution id="maven" />
   </distributions>
</module>