<module id="gson" excludes="gwt" type="integration" package="org.restlet.ext.gson">
	<name>Restlet Extension - GSON</name>
	<description>Support for GSON representations.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="gson" primary="true" />
		<dependency type="library" id="joda-time" />
		<dependency type="module" id="core" />
	</dependencies>
</module>