<module id="simple" type="connector">
	<name>Restlet Extension - Simple</name>
	<description>
		Integration with Simple framework.
	</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
	</distributions>

	<dependencies>
		<dependency type="lib">
			<id>simple</id>
		</dependency>
		<dependency type="module">
			<id>core</id>
		</dependency>
	</dependencies>
</module>