<module id="simple" includes="jse,osgi" type="connector" package="org.restlet.ext.simple">
	<name>Restlet Extension - Simple</name>
	<description>Integration with Simple framework.</description>
	<distributions>
		<distribution id="classic" />
		<distribution id="maven" />
		<distribution id="p2" />
	</distributions>

	<dependencies>
		<dependency type="library" id="simple" primary="true" />
		<dependency type="module" id="core" />
	</dependencies>
	<wikiUri>82-restlet</wikiUri>
</module>